<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleAddUsr.css">
    
      <title>Cadastro de Paciente</title>
      
</head>
<body>
    
    <div class="container">
        <h2>Cadastrar paciente</h2>
        <form id="forms" action="save" method="POST">
            <div class="form-container">
                <div class="form-group">
                    <label for="name">Nome completo</label>
                    <input type="text" id="name" name="name" required />
                </div>

                <div class="form-group">
                    <label for="CPF">CPF</label>
                    <input type="number" id="CPF" name="CPF" required />
                </div>

                <div class="form-group">
                    <label for="birth">Data de nascimento</label>
                    <input type="date" id="birth" name="birth" required />
                </div>

                <div class="form-group">
                    <label for="phone">Telefone</label>
                    <input type="number" id="phone" name="fonenumber" required />
                </div>

                <div class="form-group">
                    <label for="gender">Gênero</label>
                    <select id="gender" name="genero" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option> 
                        <option value="NãoBinario">Não Binário</option> 
                    </select>
                </div>

                <div class="form-group">
                    <label>Fumante?</label>
                    <div class="radio-group">
                        <input type="radio" id="smoker-no" name="smoker" value="Não" required>
                        <label for="smoker-no">❌</label>
                        <input type="radio" id="smoker-yes" name="smoker" value="Sim" required>
                        <label for="smoker-yes">✔️</label>
                    </div>
                </div>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </div>

</body>
</html>
