<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleCriarconta.css">
    <title>Crie sua conta</title>
</head>
<body>
    
        <h1>Criar uma nova conta</h1>

        <form action="/registro" method="POST">
            <p>
              <label>
                E-mail:
                <input type="text" name="email" />
              </label>
            </p>
            <p>
                <label>Senha
                <input type="password" name="password" placeholder="Crie uma senha" />
                <input type="password" name="password" placeholder="Repita a senha" />
              <input type="submit" value="Criar" />
            </label>
            </p>
          </form>
</body>
</html>