<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Doutor</title>
    
</head>
<body>
    <div class="containerdoctor">
        <div class="logo">
            <img src="/imgs/logo.svg" alt="NextMed Logo">
        </div>
        <div class="formulariodoctor">
            <h2>Criar nova conta</h2>
            <form action="/registrodoctor" method="POST">
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" required>
                <label for="birth">Data de nacimento:</label>
                <input type="date" name="birth" id="birth" required>
                <label for="cpf">CPF:</label>
                <input type="number" name="cpf" id="cpf" required>
                <label for="fonenumber">Telefone:</label>
                <input type="number" name="fonenumber" id="fonenumber" required>
                <label for="crm">CRM:</label>
                <input type="text" name="crm" id="crm" required>
                <label for="specialty">Especialidade:</label>
                <input type="text" name="specialty" id="specialty" required>
                <label for="email">E-mail:</label>
                <input type="text" name="email" id="email" required>
                <label for="password">Senha:</label>
                <input type="password" name="password" placeholder="Crie uma senha" required>
                <input type="password" name="password_repeat" placeholder="Repita a senha" required>

                <input type="submit" value="Cadastrar">
            </form>
            <button onclick="window.location.href='/'" class="btn-voltar">Voltar</button>
        </div>
    </div>
</body>
</html>