<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>tela para o médico assumir o atendimento e ter acesso ao perfil dele com seus dados</p>
</body>
</html>