<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <div class="logo">
        <img src="/imgs/logo.svg" style="height: 20px" alt="NextMed Logo" />
        <div class="logout-conteiner">
          <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Sair</button>
          </form>
        </div>
      </div>
      <p>tela para o médico assumir o atendimento </p>
</body>
</html>