<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleRecoverpass.css">
    <title>Recuperar Senha</title>
</head>
<body>

            <h1>Recupere sua conta</h1>

            <form action="recover" method="POST">
                <p>
                  <label>
                    E-mail:
                    <input type="text" name="E-mail" />
                  </label>
                    <label>Senha
                    <input type="password" placeholder="Digite sua nova senha" />
                    <input type="password" placeholder="Repita a senha" />
                  <input type="submit" value="Enviar" />
                </label>
                </p>
              </form>
</body>
</html>