body {
  background-color: #ffffff;
  color: #333;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

h2 {
  font-size: 26px;
  color: black;
  margin: 30px 0 15px;
  font-weight: 600;
}


.container-navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-conteiner {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 37px;
  right: 45px;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}


#confirmconsulta input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.3s ease;
}


#confirmconsulta input[readonly] {
  background-color: #f0f0f0;
  color: #666;
  cursor: not-allowed;
  border: 2px solid #ddd;
}


#confirmconsulta .withinput input[type="text"] {
  background-color: #d2e6ff;
  border: 1px solid #bbb;
  color: #000;
}

#confirmconsulta .withinput input[type="text"]:focus {
  border-color: #0077cc;
  outline: none;
  box-shadow: 0 0 3px #0077cc88;
}


#confirmconsulta .button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


#confirmconsulta button {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Botão Finalizar Consulta */
#confirmconsulta button[type="submit"] {
  background-color: #0077cc;
  color: white;
}

#confirmconsulta button[type="submit"]:hover {
  background-color: #005fa3;
}

/*Botão voltar*/
#confirmconsulta button[type="button"] {
  background-color: #aaaaaa;
  color: white;
}

#confirmconsulta button[type="button"]:hover {
  background-color: #888888;
}
