@charset "UTF-8";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #5b94aa;
}

#telaedit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(124, 79, 79, 0.5);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#formedit {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}


